/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------------------------Общаг---------------------------------------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    padding: 0 15px;
}

.text-dicoration--blue {
    color: #00C4D9;

}



/* ----------------------------------Header---------------------------------------------------------------------------------------------------- */
body {
    height: 10000px;
    font-family: Roboto;
}

.header {

    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    color: white;

}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header__logo {
    font-family: 'Playfair Display';
    text-decoration: none;
    color: inherit;
}

.header__burger {
    width: 20px;
    height: 20px;
    background-color: black;
}

.header__icons-container {
    display: flex;
    display: none;
}

.inst {
    position: relative;
    right: 5px;
    top: 3px;
}

.header__navigation {
    display: none;
}

.header__menu {
    display: flex;
}

.header__list {
    margin-left: 10px;
}

.list__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.list__link--arrow::after {
    position: relative;
    bottom: 3px;
    left: 3px;
    content: url("../img/header__assets/header__menu_arrow.svg");
}

.contact__items {
    display: flex;
}

.header__modal-link {
    color: #00C4D9;
    text-decoration: underline dashed;
    display: flex;
    justify-content: end;
    display: none;
}

.contact__number {
    display: none;
}


/* ----------------------------------Main---------------------------------------------------------------------------------------------------- */

.welcome {
    position: relative;
    color: white;
}

.welcome__bcg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome__content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan__container {
    display: flex;
    margin-left: 5px;
}

.welcome__slogan {
    font-family: 'Playfair Display';
    font-size: 14px;
    text-align: center;

}

.corusel__btn {
    align-self: center;
}

.corusel__btn--left {
    position: relative;
    right: 10px;
}

.corusel__btn--right {
    position: relative;
    left: 10px;
}

.welcome__footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: none;
}

.welcome__footer-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.welcome__footer::before {
    content: '';
    width: 100%;
    border-top: 1px dashed white;
    position: absolute;
    top: 5px;
}

.welcome__content {
    padding-top: -30px;
}


.welcome__dicoration {
    width: 40px;
    height: 40px;
    background: rgba(0, 128, 141, 0.5);
    filter: blur(20px);
    position: relative;
    right: 15px;
    bottom: 10px;
}

.welcome__circle {
    width: 15px;
    height: 15px;
    background: #00C4D9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    left: 40%;
    margin-bottom: 15px;
}



.welcome__text {
    text-align: center;
    font-size: 14px;
}

@media (min-width: 767px) {
    .welcome__footer {
        display: flex;
    }

    .header__logo {
        font-size: 20px;
    }

    .welcome__slogan {
        font-size: 20px;
    }


}

@media (min-width: 992px) {
    .header__burger {
        display: none;
    }

    .header__icons-container {
        display: flex;
    }

    .header__navigation {
        display: block;
    }

    .contact__number {
        display: block;
    }

    .header__modal-link {
        display: flex;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1150px;
        margin: 0 auto;
    }

    .header__logo {
        font-size: 25px;
    }

    .welcome__slogan {
        font-size: 25px;
    }

    .inst {
        right: 10px;
    }

    .list__link {
        font-size: 16px;
    }

    .welcome__footer::before {
        top: 10px;
    }

    .welcome__dicoration {
        width: 50px;
        height: 50px;

    }

    .welcome__circle {
        width: 20px;
        height: 20px;
    }



    .welcome__text {
        font-size: 16px;
    }

}

@media(min-width: 1680px) {
    .container {
        max-width: 1500px;
    }

    .welcome__dicoration {
        width: 55px;
        height: 55px;

    }

    .welcome__circle {
        width: 22px;
        height: 22px;
    }

    .welcome__text {
        font-size: 18px;
    }

    .header__logo {
        font-size: 30px;
    }

    .welcome__slogan {
        font-size: 30px;
    }

    .inst {
        right: 20px;
    }

    .list__link {
        font-size: 18px;
    }

    .header__list {
        margin-left: 30px;
    }

    .contact__icon {
        position: relative;
        right: 15px;
    }

    .contact__number {
        font-size: 20px;
    }
}